---
- name: Download Postgres Exporter
  become: yes
  unarchive:
    src: "{{ postgres_exporter_url }}"
    dest: /tmp/
    remote_src: yes

- name: Move postgres_exporter binary
  become: yes
  copy:
    src: "/tmp/postgres_exporter-{{ postgres_exporter_version }}.linux-amd64/postgres_exporter"
    dest: "/usr/local/bin/postgres_exporter"
    mode: "0755"

- name: Create exporter DB user
  become: yes
  shell: |
    sudo -u postgres psql <<EOF
    CREATE USER exporter WITH PASSWORD 'exporter';
    GRANT pg_monitor TO exporter;
    EOF
  args:
    executable: /bin/bash
  ignore_errors: yes

- name: Deploy Postgres Exporter service
  become: yes
  template:
    src: postgres-exporter.service.j2
    dest: /etc/systemd/system/postgres_exporter.service
    mode: "0644"

- name: Reload systemd
  become: yes
  command: systemctl daemon-reload

- name: Start and enable Postgres Exporter
  become: yes
  systemd:
    name: postgres_exporter
    state: started
    enabled: yes

- name: Deploy Alloy config for DB
  become: yes
  template:
    src: alloy-db.alloy.j2
    dest: /etc/alloy/{{ role }}.alloy
    mode: "0644"

- name: Create Alloy service
  become: yes
  copy:
    dest: /etc/systemd/system/alloy.service
    mode: "0644"
    content: |
      [Unit]
      Description=Grafana Alloy Agent
      After=network-online.target

      [Service]
      ExecStart=/usr/local/bin/alloy run /etc/alloy/{{ role }}.alloy
      Restart=always

      [Install]
      WantedBy=multi-user.target

- name: Reload systemd (again)
  become: yes
  command: systemctl daemon-reload

- name: Restart Alloy
  become: yes
  systemd:
    name: alloy
    state: restarted

