---
- name: Deploy Alloy config for WEB
  template:
    src: alloy-web.alloy.j2
    dest: /etc/alloy/role.alloy
    mode: "0644"

- name: Restart Alloy
  systemd:
    name: alloy
    state: restarted

