---
- hosts: monitoring
  become: yes

  vars:
    app_dir: /opt/app
    ansible_connection: aws_ssm
    ansible_region: "eu-central-1"
    ansible_aws_ssm_bucket_name: "ansible-ssm-bucket-oleg"

  tasks:
    - name: Install required packages
      apt:
        name: [ "ca-certificates", "curl", "gnupg" ]
        state: present
        update_cache: yes

    - name: Add Docker GPG key
      shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
        chmod a+r /etc/apt/keyrings/docker.asc

    - name: Add Docker repo
      copy:
        dest: /etc/apt/sources.list.d/docker.list
        content: |
          deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable

    - name: Install Docker Engine + Compose v2
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: latest
        update_cache: yes

    - name: Ensure clean app directory
      file:
        path: "{{ app_dir }}"
        state: absent

    - name: Recreate app directory
      file:
        path: "{{ app_dir }}"
        state: directory

    - name: Copy only workspace contents (not ansible folder)
      copy:
        src: "{{ playbook_dir | dirname }}/"
        dest: "{{ app_dir }}/"
        remote_src: no
        mode: preserve
        exclude:
          - "ansible"
          - "ansible@tmp"

    - name: Start docker compose
      shell: |
        cd {{ app_dir }}
        docker compose down --remove-orphans || true
        docker compose pull
        docker compose up -d

